.custom-underline {
  @apply relative no-underline text-white;
}

.custom-underline::after {
  content: "";
  @apply absolute w-1/2 left-1/2 lg:left-1/4 bottom-[-0.5rem] bg-white;
  height: 2px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.custom-underline:hover::after {
  width: 100%;
}
