---
import { Image } from "astro:assets";

import imgBanner1 from "@/assets/img/home/banner1.webp";
import imgBanner2 from "@/assets/img/home/banner2.webp";
import imgBanner3 from "@/assets/img/home/banner3.webp";
import isologo from "@/assets/svg/Isologo.svg";
---

<section class="w-full h-full max-h-[100vh] min-h-0 min-w-0">
  <!-- Properties to resolve error when the parent is flexible  -->
  <div class="">
    <swiper-container
      loop="true"
      effect="fade"
      autoplay-delay="2500"
      allow-touch-move="false"
      pagination="true"
    >
      <swiper-slide>
        <Image
          class={"h-[40rem] lg:h-screen object-cover "}
          src={imgBanner1}
          alt={"banner img"}
        />
      </swiper-slide>
      <swiper-slide>
        <Image
          class={"h-[40rem] lg:h-screen object-cover "}
          src={imgBanner2}
          alt={"banner img"}
        />
      </swiper-slide>
      <swiper-slide>
        <Image
          class={"h-[40rem] lg:h-screen object-cover "}
          src={imgBanner3}
          alt={"banner img"}
        />
      </swiper-slide>
    </swiper-container>
  </div>
  <div
    class="absolute inset-0 bg-[#2222224d] h-[40rem] lg:h-screen w-full flex justify-center z-10"
  >
    <Image id={"fade-isologo"} src={isologo} alt="isologo" />
  </div>
</section>

<style is:global>
  :root {
    --swiper-pagination-color: #c39c4c;
  }
</style>

<script>
  // import function to register Swiper custom elements
  import { register } from "swiper/element/bundle";
  // register Swiper custom elements
  register();
</script>

<script>
  document.addEventListener("scroll", () => {
    const fadeElement = document.querySelector("#fade-isologo") as HTMLElement;
    const scrollPosition = window.scrollY;
    const windowHeight = window.innerHeight;

    // Calcula la opacidad en función de la posición de scroll
    let opacity = 1 - (scrollPosition * 3) / windowHeight;

    // Asegúrate de que la opacidad esté en el rango de 0 a 1
    opacity = Math.max(0, Math.min(1, opacity));

    fadeElement.style.opacity = opacity.toString();
  });
</script>
