---
import { RiArrowRightLine } from "@remixicon/react";

type InstaPost = {
  id: string;
  timestamp: Date;
  permalink: string;
  caption: string;
  media_url: string;
};

type Props = {
  posts: Array<InstaPost>;
};

const { posts } = Astro.props;

const lastPost = posts.slice(0, 3);

import "swiper/css";
---

<section class="w-full h-full max-h-[100vh] min-h-0 min-w-0
bg-primary-100">
  <div class="container px-4 pt-8 lg:pt-12 mx-auto mb-8 lg:mb-20">
    <div class="swiper instaSwiper mb-4">
      <div class="swiper-wrapper">
        {
          lastPost.map((post) => (
            <div class="swiper-slide">
              <div class="flex justify-start">
                <a class={"sm:w-full "} href={post.permalink} target="_blank">
                  <img src={post.media_url} alt={"banner img"} />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="flex gap-2 justify-center lg:hidden">
      <a
        href="https://www.instagram.com/ads.atelier/"
        target="_blank"
        class="text-secondary-500 font-title lg:text-base">Ir a Instagram</a
      >
      <RiArrowRightLine className="text-secondary-500" />
    </div>
  </div>
</section>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  new Swiper(".instaSwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
