---
import { RiWhatsappLine } from "@remixicon/react";
---

<a
  href="https://api.whatsapp.com/send?phone=5215540996380"
  target="_blank"
  class="fixed bottom-8 right-8 z-10
  flex gap-3 px-3 py-2 bg-accent-400 text-white text-base lg:text-lg font-normal rounded-full"
  >Contáctanos
  <RiWhatsappLine className={"text-white"} />
</a>
<style></style>
