---
import BannerTitleCenter from "@/components/banners/BannerTitleCenter.astro";
import Layout from "@/layouts/Layout.astro";

import imgBanner1 from "@/assets/img/colecciones/bannerImg.webp";
import imgBanner2 from "@/assets/img/colecciones/bannerImg2.webp";
import imgRings from "@/assets/img/colecciones/rings.webp";
import imgBooks from "@/assets/img/colecciones/books.webp";
import { Image } from "astro:assets";
---

<Layout title="Colecciones únicas">
  <BannerTitleCenter
    title="Colecciones de joyería fina para el día a día"
    subTitle="Creamos colecciones inspiradas en la simplicidad y minimalismo elaboradas con metales preciosos para que las puedas disfrutar todos los días."
    imgLeft={imgBanner1}
    imgRight={imgBanner2}
  />

  <section class="bg-accent-50 w-full flex flex-col items-center relative">
    <div
      class="container px-4 lg:px-0 lg:pt-12 flex flex-col items-center lg:items-start z-10"
    >
      <p
        class="py-10 px-4 xl:px-16 xl:py-16 bg-accent-300
        text-white text-base lg:text-xl xl:text-2xl font-light lg:w-[65%]"
      >
        Nos inspiramos en el arte de la orfebrería, los materiales y las
        características de las piedras para crear piezas y colecciones de
        edición limitada.
      </p>
    </div>

    <div
      class="container bg-accent-50 w-full relative -top-8 lg:-top-40 xl:-top-52
      flex flex-col justify-between flex-wrap overflow-hidden
      lg:relative"
    >
      <Image
        class={"w-[48%] lg:w-[40%] object-cover max-h-64 md:max-h-none self-end"}
        src={imgBooks}
        alt={"libros"}
      />
      <Image
        class={`w-[48%] lg:w-[40%] object-cover max-h-64 md:max-h-none self-start
        -mt-52 md:-mt-[29rem] lg:-mt-[29rem] xl:-mt-[36rem] 2xl:-mt-[46rem]`}
        src={imgRings}
        alt={"anillos"}
      />

      <div
        class="w-full lg:w-[40%] px-4 lg:px-0 pt-8 lg:absolute bottom-0 right-0"
      >
        <h2 class="font-bold text-2xl lg:text-3xl mb-2">
          Contacta con nosotros
        </h2>
        <p class="font-light text-base lg:text-lx xl:text-2xl mb-4">
          para consultar la disponibilidad de las piezas.
        </p>

        <a
          href="/contacto"
          class="inline-block px-10 py-4 bg-accent-400 text-white text-base lg:text-xl font-medium rounded-full"
          >Contáctanos</a
        >
      </div>
    </div>
  </section>
</Layout>

<style></style>
