---
import CarouselMain from "@/components/carousels/CarouselMain.astro";
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Inicio">
  <!-- <CarouselMain /> -->
  <section class="w-full h-64 bg-red-800"></section>
</Layout>

<style></style>
