---
import imgAntigua1 from "@/assets/img/custom/carousel-antiguas/img1.webp";
import imgAntigua2 from "@/assets/img/custom/carousel-antiguas/img2.webp";
import imgAntigua3 from "@/assets/img/custom/carousel-antiguas/img3.webp";

export const imgsAntiguas = [imgAntigua1, imgAntigua2, imgAntigua3];

import imgCompromiso1 from "@/assets/img/custom/carousel-compromiso/img1.webp";
import imgCompromiso2 from "@/assets/img/custom/carousel-compromiso/img2.webp";
import imgCompromiso3 from "@/assets/img/custom/carousel-compromiso/img3.webp";
import imgCompromiso4 from "@/assets/img/custom/carousel-compromiso/img4.webp";
import imgCompromiso5 from "@/assets/img/custom/carousel-compromiso/img5.webp";
import imgCompromiso6 from "@/assets/img/custom/carousel-compromiso/img6.webp";

export const imgsCompromiso = [
  imgCompromiso1,
  imgCompromiso2,
  imgCompromiso3,
  imgCompromiso4,
  imgCompromiso5,
  imgCompromiso6,
];

import imgJoyeria1 from "@/assets/img/custom/carousel-joyeria/img1.webp";
import imgJoyeria2 from "@/assets/img/custom/carousel-joyeria/img2.webp";
import imgJoyeria3 from "@/assets/img/custom/carousel-joyeria/img3.webp";
import imgJoyeria4 from "@/assets/img/custom/carousel-joyeria/img4.webp";
import imgJoyeria5 from "@/assets/img/custom/carousel-joyeria/img5.webp";
import imgJoyeria6 from "@/assets/img/custom/carousel-joyeria/img6.webp";
import imgJoyeria7 from "@/assets/img/custom/carousel-joyeria/img7.webp";
import imgJoyeria8 from "@/assets/img/custom/carousel-joyeria/img8.webp";
import imgJoyeria9 from "@/assets/img/custom/carousel-joyeria/img9.webp";
import imgJoyeria10 from "@/assets/img/custom/carousel-joyeria/img10.webp";

export const imgsJoyeria = [
  imgJoyeria1,
  imgJoyeria2,
  imgJoyeria3,
  imgJoyeria4,
  imgJoyeria5,
  imgJoyeria6,
  imgJoyeria7,
  imgJoyeria8,
  imgJoyeria9,
  imgJoyeria10,
];

import imgMatrimonio1 from "@/assets/img/custom/carousel-matrimonio/img1.webp";
import imgMatrimonio2 from "@/assets/img/custom/carousel-matrimonio/img2.webp";
import imgMatrimonio3 from "@/assets/img/custom/carousel-matrimonio/img3.webp";
import imgMatrimonio4 from "@/assets/img/custom/carousel-matrimonio/img4.webp";
import imgMatrimonio5 from "@/assets/img/custom/carousel-matrimonio/img5.webp";
import imgMatrimonio6 from "@/assets/img/custom/carousel-matrimonio/img6.webp";

export const imgsMatrimonio = [
  imgMatrimonio1,
  imgMatrimonio2,
  imgMatrimonio3,
  imgMatrimonio4,
  imgMatrimonio5,
  imgMatrimonio6,
];
---

<div></div>

<style></style>
