---
import { Image } from "astro:assets";
import imgUnicas from "@/assets/img/home/unicas.webp";
import imgCustom from "@/assets/img/home/custom-made.webp";
import { RiArrowRightLine } from "@remixicon/react";
---

<section class="bg-secondary-300 w-full flex justify-center py-8 px-4">
  <div class="container flex flex-col lg:flex-row gap-4 lg:gap-12 items-center">
    <article class="w-full flex-1 xl:mr-12">
      <h2 class="text-title text-white text-3xl lg:text-5xl mb-2 lg:mb-12">
        Nuestras lineas
      </h2>
      <Image
        class={"h-[36rem] md:h-96 lg:h-[36rem] xl:h-[40rem] w-full object-cover lg:mb-2"}
        src={imgUnicas}
        alt={"colecciones únicas"}
      />

      <div class="flex py-2 items-center">
        <h3 class="text-white flex-1 text-title text-2xl lg:text-3xl">
          Colecciones únicas
        </h3>

        <div class="flex gap-2 items-center h-8 lg:h-9">
          <span class="text-white font-title text-sm lg:text-base">Ver más</span
          >
          <RiArrowRightLine className="text-white" />
        </div>
      </div>
    </article>

    <article class="w-full flex-1">
      <Image
        class={"h-[36rem] md:h-96 lg:h-[42rem] xl:h-[46rem] w-full object-cover lg:mb-2"}
        src={imgCustom}
        alt={"colecciones custom"}
      />

      <div class="flex py-2 items-center">
        <h3 class="text-white flex-1 text-title text-2xl lg:text-3xl">
          Colecciones únicas
        </h3>

        <div class="flex gap-2 items-center h-8 lg:h-9">
          <span class="text-white font-title text-sm lg:text-base">Ver más</span
          >
          <RiArrowRightLine className="text-white" />
        </div>
      </div>
    </article>

    <p class="text-white text-base lg:text-xl lg:w-1/4 flex-0">
      Priorizamos siempre la calidad en todos los materiales que usamos. Por
      ello, solamente trabajamos con metales preciosos: oro de 14K y 18 y
      platino obtenidos en México.
    </p>
  </div>
</section>

<style></style>
