---
import NavLink from "./NavLink.astro";
import { RiFacebookFill, RiInstagramFill, RiMenuFill } from "@remixicon/react";
import logo from "@/assets/svg/logo.svg";
import isologo from "@/assets/svg/Isologo.svg";
import HamburgerAnimate from "./HamburgerAnimate.astro";

type Props = {};

const {} = Astro.props;
---

<header
  id="header"
  class={`w-full bg-[#2222224d] blur-background
    fixed top-0 z-30
    transition-colors delay-300 ease-out
    lg:transition-none`}
>
  <div
    class="relative flex justify-center items-center container p-2 lg:py-4 lg:px-0 mx-auto gap-4"
  >
    <div id="menu-btn" class="flex p-2 lg:hidden">
      <HamburgerAnimate bgColor="bg-trasparent" color="bg-grey-50" />
    </div>

    <nav
      id="nav-menu"
      class={`absolute z-10 w-[100vw] bg-grey-950 bg-opacity-30 lg:bg-transparent
      h-[calc(100vh-4em)]
      transition-all delay-300 ease-out
      lg:transition-none
      top-[-100vh] lg:top-auto
      lg:static lg:flex lg:h-full lg:flex-1
      `}
    >
      <ul
        class="flex flex-col lg:flex-row items-center justify-center
    w-full py-20 lg:py-0 gap-10"
      >
        <NavLink url={"/"} text={"Inicio"} />
        <NavLink url={"/colecciones-unicas"} text={"Colecciones únicas"} />
        <NavLink url={"/custom-made"} text={"Custom Made"} />
        <NavLink url={"/nosotros"} text={"Conoce ADS Ateleir"} />
        <NavLink url={"/contacto"} text={"Contacto"} />
      </ul>
    </nav>

    <div class="flex justify-center flex-grow lg:flex-grow-0 lg:-order-1">
      <a href="/">
        <img src={logo.src} alt="logo mobile" class="max-w-44 lg:hidden" />
        <img src={isologo.src} alt="logo desk" class="w-20 hidden lg:block" />
      </a>
    </div>

    <div class="flex items-center gap-2">
      <a href="https://www.instagram.com/ads.atelier/" target="_blank">
        <div class="bg-white size-8 rounded-full p-1">
          <RiInstagramFill className="fill-accent-500" />
        </div>
      </a>
      <a
        href="https://www.facebook.com/people/ADS-Atelier/61556809981772/"
        target="_blank"
      >
        <div class="bg-white size-8 rounded-full p-1">
          <RiFacebookFill className="fill-accent-500" />
        </div>
      </a>
    </div>
  </div>
</header>

<style>
  .blur-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px); /* Aplica el blur */
    -webkit-backdrop-filter: blur(2px); /* Soporte para Safari */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuBtn = document.getElementById("menu-btn");
    const header = document.getElementById("header");
    const navMenu = document.getElementById("nav-menu");

    menuBtn &&
      menuBtn.addEventListener("click", () => {
        header?.classList.toggle("bg-[#222222cc]");

        // Clases que activan el mobile menu
        navMenu?.classList.toggle("top-full");
        navMenu?.classList.toggle("opacity-100");
        navMenu?.classList.toggle("bg-opacity-80");
      });
  });
</script>
