---
import { ViewTransitions } from "astro:transitions";
import GlobalStyles from "@/styles/GlobalStyles.astro";
import Header from "./Header/Header.astro";
import Footer from "./Footer.astro";
import BtnWhatsApp from "@/components/buttons/BtnWhatsApp.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Metadatos para SEO -->
    <title>{title}</title>
    <meta name="description" content="Estudio de joyería fina by Andrea Díaz" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Estudio de joyería fina by Andrea Díaz" />
    <meta
      name="keywords"
      content="Joyeria Custom Atelier Anillos Argollas Rediseño Fina"
    />
    <meta
      name="author"
      content="Jonathan Alexis Bello Lopez - YGU COMUNICAXION"
    />
    <meta name="robots" content="index, follow" />

    <!-- Metadatos de Open Graph para redes sociales (Facebook, Twitter, etc.) -->
    <meta property="og:title" content="ADS Atelier" />
    <meta
      property="og:description"
      content="Estudio de joyería fina by Andrea Díaz"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="adsatelier.mx" />
    <meta property="og:image" content="/ogimage.webp" />
    <meta property="og:site_name" content="ADS Atelier" />
    <meta name="twitter:title" content="ADS Atelier" />
    <meta
      name="twitter:description"
      content="Joyeria Custom Atelier Anillos Argollas Rediseño Fina"
    />
    <meta name="twitter:image" content="/ogimage.webp" />

    <!-- Importaciones externas -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <main class="flex flex-col items-center flex-1">
      <slot />

      <BtnWhatsApp />
    </main>

    <Footer />
    <GlobalStyles />
  </body>
</html>
